/*  main -> Section .main_container
    article #sedan_container #suv_container #luxury_container
    img h2 p button #sedan_button #suv_button #luxury_button */

/*  Style guide;
    Background, headings, button: hsl(0, 0%, 95%)
    p: hsla(0, 0%, 100%, 0.75)
    Sedan container: hsl(31, 77%, 52%)
    Suv container: hsl(184, 100%, 22%)
    Luxury container: hsl(179, 100%, 13%)
    
    Font-size: 15px
    Font families; Lexend Deca (400) & Big Shoulders Display (700)*/

/* font imports */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,700&display=swap");

.big-shoulders {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: hsl(0, 0%, 95%);
  height: 100svh;
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  height: 70%;
  border-radius: 25%;
}

article {
  display: flex;
  flex-flow: column wrap;
  padding: 20px 75px 40px 50px;
  justify-content: space-around;
  flex: 1;
}

h2 {
  color: hsl(0, 0%, 95%);
  font-weight: 700;
  font-size: 42px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  line-height: 2;
  padding-bottom: 60px;
}

button {
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 50px;
  justify-self: center;
  font-size: 15px;
  height: 50px;
  width: 150px;
}

img {
  height: 40px;
  width: 64px;
}

#sedan_container {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
}

#suv_container {
  background-color: hsl(184, 100%, 22%);
}

#luxury_container {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
}

#sedan_button {
  color: hsl(31, 77%, 52%);
}

#suv_button {
  color: hsl(184, 100%, 22%);
}

#luxury_button {
  color: hsl(179, 100%, 13%);
}
